* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Inter, sans-serif;
    overflow-x: hidden;
}

.container {
    min-height: 100px;
    width: 100%;
}

.container .nav {
    align-items: center;
    height: 70px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 10px 5px #b6b6b6;
}

.container .nav .title {
    padding-left: 5rem;
}

.container .nav .link {
    padding-right: 5rem;
}

.container .nav .link a {
    margin-inline: 1rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
}

.container .nav .link a:hover {
    color: #828282;
}

.container .content {
    width: 80%;
    /* border: 1px solid red; */
    margin: 1rem auto;
    padding: 3rem;
}

.container .content .title {
    font-size: 24px;
    font-weight: bold;
    margin-block: 1rem;
}

.container .content .course {
    margin: 3rem auto;
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 3rem;
}

.container .content .course .card {
    position: relative;
    width: 300px;
    height: 350px;
    /* border: 1px solid green; */
}

.container .content .course .card a {
    text-decoration: none;
}

.container .content .course .thumbnail img {
    width: 100%;
    border: 1px solid #a7a7a7;
}

.container .content .course .title {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0;
    padding-top: 0.5rem;
}

.container .content .course .author {
    font-size: 12px;
    font-weight: 100;
    color: #666666;
}

.container .content .course .rate {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-block: 0.4rem;
    display: flex;
    align-items: center;
}

.container .content .course .rate span {
    margin-right: 0.4rem;
}

.container .content .course .rate img {
    width: 15px;
    position: relative;
}

.container .content .course .description {
    margin: 0;
    font-size: 12px;
    font-weight: 100;
    color: #666666;
}

.container .footer {
    height: 70px;
    background-color: #1C1E1D;
    /* margin: 5rem 0 0 0; */
}

.container .footer .bottom {
    width: 90%;
    display: flex;
    position: relative;
    font-family: 'Inter', sans-serif;
    margin: 3rem auto;
    font-size: 14px;
    bottom: 0px;
    padding: 1.5rem 0 0 0;
    border-top: 1px solid #989595;
    /* border: 1px solid yellow; */
    color: #fff;
    justify-content: space-between;
}

.container .footer .bottom .social-icons img {
    width: 26px;
    margin: 0 0 0 1rem;
}