* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    /* border: 1px solid red; */
    min-height: 100px;
}

.container .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    /* border: 1px solid blue; */
}

.container .nav .links {
    padding-right: 3rem;
}

.container .nav .links a {
    text-decoration: none;
    font-weight: medium;
    color: #000;
    margin-inline: 1rem;
}

.container .nav .links a:hover {
    color: #868686;
}

.container .nav .title {
    padding-left: 3rem;
}

.container .banner {
    width: 100%;
    position: relative;
    height: 650px;
    background: url('images/stellaron-hunters.png');
    background-size: cover;
    background-position: center 50%;
    /* border: 1px solid blue; */
    overflow: hidden;
}

.container .banner .banner-inner {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    padding: 15rem;
    padding-left: 10rem;
    
}

.container .banner .banner-inner h1 {
    color: white;
    max-width: 300px;
    letter-spacing: 0.7rem;
}

.container .banner .banner-inner .learn {
    color: white;
    font-size: 10px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    margin-top: 1rem;
    background: #8B763E;
    border: none;
    cursor: pointer;
}

.container .banner .banner-inner .learn:hover {
    background: #9e8747;
}

.container .about {
    /* border:1px solid red; */
    margin: 5rem auto;
    width: 80%;
    text-align: center;
}

.container .about .title {
    font-size: 36px;
    margin: 1rem;
    font-weight: medium;
}

.container .about .description {
    margin: auto;
    max-width: 700px;
    text-align: center;
    margin-bottom: 3rem;
}

.container .about .profile {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.container .about .profile .items .images {
    border-radius: 50%;
    margin: auto;
    width: 120px;
    height: 120px;
    margin-block: 1rem;
}

.container .about .profile .items p.name {
    font-weight: 500;
}

.container .about .profile .items p.detail {
    max-width: 200px;
    text-align: center;
    margin-top: 1rem;
}

.container .footer {
    height: 70px;
    background-color: #1C1E1D;
    /* margin: 5rem 0 0 0; */
}

.container .footer .bottom {
    width: 90%;
    display: flex;
    position: relative;
    font-family: 'Inter', sans-serif;
    margin: 3rem auto;
    font-size: 14px;
    bottom: 0px;
    padding: 1.5rem 0 0 0;
    border-top: 1px solid #989595;
    /* border: 1px solid yellow; */
    color: #fff;
    justify-content: space-between;
}

.container .footer .bottom .social-icons img {
    width: 26px;
    margin: 0 0 0 1rem;
}